<!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nom du projet</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzValidateStatus]="getControlValidationStatus('nomProjet')">
      <input nz-input formControlName="nomProjet" placeholder="Entrez le nom du projet" />
      <ng-container *ngIf="getControlValidationStatus('nomProjet') === 'error'">
        <ng-template nz-error>{{ getControlErrorMessage('nomProjet') }}</ng-template>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Délai (historique du délai)</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="delai" placeholder="Entrez le délai" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Budget alloué</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="budgetAlloue" placeholder="Entrez le budget alloué" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Budget dépensé</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="budgetDepense" placeholder="Entrez le budget dépensé" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Date de début du projet</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-date-picker formControlName="dateDebut" placeholder="Sélectionnez la date de début"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Date de fin du projet</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-date-picker formControlName="dateFin" placeholder="Sélectionnez la date de fin"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Objectif</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzValidateStatus]="getControlValidationStatus('objectif')">
      <textarea nz-input formControlName="objectif" placeholder="Entrez l'objectif du projet"></textarea>
      <ng-container *ngIf="getControlValidationStatus('objectif') === 'error'">
        <ng-template nz-error>{{ getControlErrorMessage('objectif') }}</ng-template>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Membre</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="membres" placeholder="Entrez les membres du projet" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Définition des risques</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea nz-input formControlName="definitionRisques" placeholder="Entrez la définition des risques"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
     <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Enregistrer</button>
      <button nz-button (click)="resetForm($event)">Réinitialiser</button>
    </nz-form-control> -->

    <!-- <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-secondary rounded" type="button" routerLink="/tableau">Annuler</button>
      <button class="btn btn-primary rounded" type="submit">Enregistrer</button>
    </div>
  </nz-form-item>
</form> --> 
