<form [formGroup]="RoleForm" (ngSubmit)="createRole()">

    <div *ngIf="formErrors && formErrors.roleName" class="error-message">
        {{ formErrors.roleName[0] }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>      
      
    <div >
        <label for="roleName">Nom :</label>
        <input type="text" id="roleName" formControlName="roleName" >
    </div>

    <div >
        <label>Permissions :</label>
        <div *ngFor="let permission of permissions">
            <label>
            <input type="checkbox" [formControlName]="'selectedPermissions'" [value]="permission" >
            {{permission}}
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
</form>
