<!-- 
<p>
    <button class="ant-btn-green" nz-button nzType="default" (click)="goBack()">
        <i nz-icon nzType="arrow-left"></i>Retour
    </button>
</p>
    <div class="card">
        <div class="card-header"> Création d'utilisateur</div>
        <div class="card-body">

            <form (ngSubmit)="insertData()">
              
              
              <div class="form-group">
                <label for="inputName3" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10"></div>
                  <input type="text" name="nom" class="form-control" id="inputname3"  required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputPrenom3" class="col-sm-2 col-form-label">Prenom</label>
                <div class="col-sm-10">
                  <input type="text" name="prenom" class="form-control" id="inputprenom3"  required>
                </div>
              </div>

                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail3"  required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword3"  required>
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm_Password</label>
                    <div class="col-sm-10">
                      <input type="password" name="password_confirm" class="form-control" id="inputPassword3"  required>
                    </div>
                  </div>


                <div class="col-sm-12 offset-2">
                    
                    <button type="submit" class="btn btn-primary">Valider</button>
                    
                  </div>
              </form>
        </div>
    </div> -->
    <p>
      <button class="ant-btn-green" nz-button nzType="default" (click)="goBack()">
          <i nz-icon nzType="arrow-left"></i>Retour
      </button>
  </p>

    <nz-card  nzTitle="Création d'utilisateur">
      <nz-form [formGroup]="userForm" (ngSubmit)="createUser()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Nom</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="nom" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Prénom</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="prenom" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" formControlName="password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" formControlName="confirmPassword" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Role</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="role">
              <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="userForm.invalid" (click)="createUser()" >Ajouter</button>
          </nz-form-control>
        </nz-form-item>
      </nz-form>
    </nz-card>
    
